
	<div id="title-first">
		<h1>PROJET AUDIO</h1>
		<h6>CONTACT</h6>
	</div>
<div id="main">

<div id="form">
  <div class="field">
    <label for="user_nom">Name <span style="font-weight: 300; color: #c5c5c5;">(requierd)</span></label><br />
    <input id="user_nom" nom="user[nom]" size="30" type="text" />
  </div>

  <div class="field">
    <label for="user_email">Email <span style="font-weight: 300; color: #c5c5c5;">(requierd)</span></label><br />
    <input id="user_email" nom="user[email]" size="30" type="text" />
  </div>
  <div class="field">
    <label for="website">website</label><br />
    <input id="website" nom="website" size="30" type="website" />
  </div>
  <div class="coment">
  	<label for="commentaire">Comment <span style="font-weight: 300; color: #c5c5c5;">(requierd)</span></label><br />
  	<textarea id="commentaire"></textarea>
  <div class="submit">
  	<button>SUBMIT >></button>
  </div>
  </div>
  </div>
  














		<div id="bloc_right">
		<input id="input" name="recherche" placeholder="Search ..." >
		<h1>LATEST NEWS</h1>
		<h4>Welcome to our redsingned website</h4>
		<p>	tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam,
		quis nostrud</p>
		<h5>APRIL 1, 2015</h5>
		<h4>New tour dates posted</h4>
		<p>	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud</p>
		<h5>DECEMBER 16, 2014</h5>		
		<h4>History of Popular Music</h4>
		<p>	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud</p>
		<h5>DECEMBER 15, 2015</h5>
	</div>
</div>





	<div id="three-bloc">
		<div class="blocs">
			<h1>ABOUT OBSIDIAN</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			c</p>
		</div>
		<div class="blocs" id="bloc_img">
			<h1>VIVIENNE'S OMITTED LINE</h1>
			<img src="assets/album-03.jpg">
		</div>
		<div class="blocs" id="last">
			<h1>RECENT POSTS</h1>
			<h4>Welcome to our redesigned website</h4>
			<p>APRIL 1,2015</p>
			<h4>New tour dates posted</h4>
			<p>DECEMBER 16,2014</p>
			<h4>History of Popular Music</h4>
			<p>DECEMBER 15,2014</p>
		</div>
	</div>

	<div id='icone'>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-facebook-square"></i></a>
		<a href="#"><i class="fa fa-instagram"></i></a>
		<a href="#"><i class="fa fa-youtube-play"></i></a>
		<a href="#"><i class="fa fa-vimeo"></i></a>
		<a href="#"><i class="fa fa-amazon"></i></a>
		<a href="#"><i class="fa fa-apple"></i></a>
		<a href="#"><i class="fa fa-soundcloud"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-spotify"></i></a>
	</div>

	<p id="fin">OBSIDIAN MUSIC THEME BY AUDIOTHEME.</p>

</div>
<div id="blur"></div>