<div id="main">
	<div id="title_first">
		<h1>PROJET AUDIO</h1>
		<h6>SUBTITLE...</h6>
	</div>

	<div id="video">  
		<h2>VIDEOS</h2>
		<h4>ALL VIDEOS</h4>
	</div>

	<div id="img_video">
		<tr>
			<td><div id="bloc_one"><img id="one" src="assets/video-like-a-rose.jpg"><p>Like A Rose-Ashley Monroe</p></div></td><td><div id="bloc_two"><img id="two" src="assets/video-big-love.jpg"><p>Big Love-Carrie Rodriguez</p></div></td><td><div id="bloc_three"><img id="three" src="assets/video-waitin-on-june.jpg"><p>Waiting One June-Holly Williams</p></div></td>
		</tr>
	</div>

	<div id="date">
		<h1>UPCOMING GIGS</h1>
		<table>
			<tr>
				<td class="mois" width=5% height=60>SEP</td>
				<td class="date" width=15% height=60>14</td>
				<td class="lieu" width=40% height=60>Nashville,TN</td>
				<td class="type" width=40% height=60>The Blue Birde Cafe</td>
			</tr>
			<tr>
				<td class="mois" height=60>SEP</td>
				<td class="date" height=60>16</td>
				<td class="lieu" height=60>Seattle,WA</td>
				<td class="type"height=60>Tractor Tavern</td>
			</tr>
			<tr>
				<td  class="mois"height=60>SEP</td>
				<td class="date" height=60>17</td>
				<td class="lieu" height=60>Alexandria,TN</td>
				<td class="type"height=60>The Birchmere</td>
			</tr>
			<tr>
				<td class="mois" height=60>SEP</td>
				<td class="date" height=60>25</td>
				<td class="lieu" height=60>Washington,DC</td>
				<td class="type"height=60>the Hamilton</td>
			</tr>			
			<tr>
				<td class="mois" height=60>OCT</td>
				<td class="date" height=60>30</td>
				<td class="lieu" height=60>Chipping Ongar,essex</td>
				<td class="type"height=60>Zinc Arts Center</td>
			</tr>		
		</table>
	</div>
	<div id="sous_tab">VIEW ALL GIGS</div>

	<div id="three-bloc">
		<div class="blocs">
			<h1>ABOUT OBSIDIAN</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			c</p>
		</div>
		<div class="blocs" id="bloc_img">
			<h1>VIVIENNE'S OMITTED LINE</h1>
			<img src="assets/album-03.jpg">
		</div>
		<div class="blocs" id="last">
			<h1>RECENT POSTS</h1>
			<h4>Welcome to our redesigned website</h4>
			<p>APRIL 1,2015</p>
			<h4>New tour dates posted</h4>
			<p>DECEMBER 16,2014</p>
			<h4>History of Popular Music</h4>
			<p>DECEMBER 15,2014</p>
		</div>
	</div>

	<div id='icone'>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-facebook-square"></i></a>
		<a href="#"><i class="fa fa-instagram"></i></a>
		<a href="#"><i class="fa fa-youtube-play"></i></a>
		<a href="#"><i class="fa fa-vimeo"></i></a>
		<a href="#"><i class="fa fa-amazon"></i></a>
		<a href="#"><i class="fa fa-apple"></i></a>
		<a href="#"><i class="fa fa-soundcloud"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-spotify"></i></a>
	</div>

	<p id="fin">OBSIDIAN MUSIC THEME BY AUDIOTHEME.</p>
</div>
<div id="blur"></div>
