<div id="title">
	<h1>OBSIDIAN</h1>
	<p>RECORDS</p>
</div>

	<div id="image-album">
	<div id="img_sous_image">
		<div id="image_seul">
			<img src="assets/album-03.jpg">
		</div>
		<div id="sous-image">
			<p>ITUNES</p>
			<p>AMAZON</p>
			<p>SPORTIFY</p>
		</div>
	</div>

	<div id="album">
		<h2>Vivienne's Omitted Line</h2>
		<p>RELEASE: 2013</p>
		<table>
		<tr>
			<td class="number">1</td>
			<td>The Biried of the Dead</td>
			<td>-:--</td>
		</tr>
		<tr>
			<td class="number">2</td>
			<td>Dirge</td>
			<td>-:--</td>
		</tr>
		<tr>
			<td class="number">3</td>
			<td>The Fire Sermon</td>
			<td>-:--</td>
		</tr>
		<tr>
			<td class="number">4</td>
			<td>The Ficher King</td>
			<td>-:--</td>
		</tr>
		<tr>
			<td class="number">5</td>
			<td>A Game of Chess</td>
			<td>-:--</td>
		</tr>
		<tr>
			<td class="number">6</td>
			<td>Vivienne's Omitted Line</td>
			<td>-:--</td>
		</tr>		
		<tr>
			<td class="number">7</td>
			<td>What the Thunder Said</td>
			<td>-:--</td>
		</tr>		
		<tr>
			<td class="number">8</td>
			<td>The Wounded King</td>
			<td>-:--</td>
		</tr>
		</table>
	</div>
</div>













	<div id="three-bloc">
		<div class="blocs">
			<h1>ABOUT OBSIDIAN</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			c</p>
		</div>
		<div class="blocs" id="bloc_img">
			<h1>VIVIENNE'S OMITTED LINE</h1>
			<img src="assets/video-like-a-rose.jpg">
		</div>
		<div class="blocs" id="last">
			<h1>RECENT POSTS</h1>
			<h4>Welcome to our redesigned website</h4>
			<p>APRIL 1,2015</p>
			<h4>New tour dates posted</h4>
			<p>DECEMBER 16,2014</p>
			<h4>History of Popular Music</h4>
			<p>DECEMBER 15,2014</p>
		</div>
	</div>

	<div id='icone'>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-facebook-square"></i></a>
		<a href="#"><i class="fa fa-instagram"></i></a>
		<a href="#"><i class="fa fa-youtube-play"></i></a>
		<a href="#"><i class="fa fa-vimeo"></i></a>
		<a href="#"><i class="fa fa-amazon"></i></a>
		<a href="#"><i class="fa fa-apple"></i></a>
		<a href="#"><i class="fa fa-soundcloud"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-spotify"></i></a>
	</div>

	<p id="fin">OBSIDIAN MUSIC THEME BY AUDIOTHEME.</p>
	</div>

<div id="blur"></div>