
	




	<div class="title_first">
		<h1>PROJET AUDIO</h1>
		<h6>PHOTOS</h6>
	</div>


	<div id="first_bloc_photo">
		<img class="one" src="assets/gallery-09.jpg">
		<div id="bloc-two">
		<img class="two" src="assets/gallery-04.jpg">
		<img class="three" src="assets/gallery-05.jpg">	
		</div>	
	</div>

	<div id="second_bloc_photo">
		<img class="second_one" src="assets/gallery-08.jpg">
		<img class="second_two" src="assets/gallery-07.jpg">
		<img class="second_three" src="assets/gallery-06.jpg">
	</div>

	<div id="third_bloc_photo">
		<img class="third_one" src="assets/gallery-03.jpg">
		<img class="third_two" src="assets/gallery-01.jpg">
		<img class="third_three" src="assets/gallery-02.jpg">
		<img class="third_four" src="assets/gallery-10.jpg">

	</div>
















	<div id="three-bloc">
		<div class="blocs">
			<h1>ABOUT OBSIDIAN</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			c</p>
		</div>
		<div class="blocs" id="bloc_img">
			<h1>VIVIENNE'S OMITTED LINE</h1>
			<img src="assets/album-03.jpg">
		</div>
		<div class="blocs" id="last">
			<h1>RECENT POSTS</h1>
			<h4>Welcome to our redesigned website</h4>
			<p>APRIL 1,2015</p>
			<h4>New tour dates posted</h4>
			<p>DECEMBER 16,2014</p>
			<h4>History of Popular Music</h4>
			<p>DECEMBER 15,2014</p>
		</div>
	</div>

	<div id='icone'>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-facebook-square"></i></a>
		<a href="#"><i class="fa fa-instagram"></i></a>
		<a href="#"><i class="fa fa-youtube-play"></i></a>
		<a href="#"><i class="fa fa-vimeo"></i></a>
		<a href="#"><i class="fa fa-amazon"></i></a>
		<a href="#"><i class="fa fa-apple"></i></a>
		<a href="#"><i class="fa fa-soundcloud"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-spotify"></i></a>
	</div>

	<p id="fin">OBSIDIAN MUSIC THEME BY AUDIOTHEME.</p>


<div id="blur"></div>